/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} */
/* Navbar section styles */
.navbar {
    gap: 100px;
    align-items: center;
    width: 1100px;
    margin: 0 auto;

}

.display {
    display: flex;
}

.logo {
    height: 50px;
    width: 50px;
    margin-top: 15px;
}

.nav-title {
    font-weight: bold;
    font-size: 32px;
    color: #111111;
}

.link-1,
.link-2,
.link-3,
.link-4 {
    text-decoration: none;
}

.link {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-right: 100px;
    font-weight: bold;
    font-size: 20px;
}

.link-1 {
    color: orange;
}

.link-2 {
    color: #01ACFD;
}

.link-3 {
    color: #05D4DF;
}

.link-4 {
    color: #5D58EF;
}

.btn {
    padding: 10px;
    width: 180px;
    border-radius: 12px;
    background-color: orange;
    color: white;
    border: none;
    height: 50px;
    font-weight: 600px;
    font-size: 20px;
}

.nav-menu {
    position: relative;
    bottom: 100px;
}

/* Banner section styles */
.banner {
    margin: 0 auto;
    width: 1100px;
    height: 550px;
    align-items: center;
    margin-top: 30px;
}

.banner-title {
    font-weight: bold;
    font-size: 56px;
}

.banner-sub-title {
    font-size: 20px;
    color: #111111;
}

.btn-2 {
    border-radius: 12px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    width: 180px;
    height: 50px;
}
/* curriculum section styles*/
.main{
    background-image: url(./assets/bg.png);
}
.bg{
    text-align: center;
}
#bg-title{
    margin-top: 60px;
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 2.9rem;
}
.section-2{
    display: flex;
    width: 1100px;
    margin: 0 auto;
    gap: 25px;
    margin-bottom: 80px;
}
.bg-box-1{
    background-color: #DEF5FF;
    box-shadow: 0 0 28px 0.94px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    text-align: center;
    height: 350px;
    padding: 10px;

}
.bg-box-2{
    background-color: #FFF4DC;
    box-shadow: 0 0 28px 0.94px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    text-align: center;
    height: 350px;
    padding: 10px;
}
.bg-box-3{
    background-color: #F2E8FF;
    box-shadow: 0 0 28px 0.94px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    text-align: center;
    height: 350px;
    padding: 10px;
}
.bg-link-1, .bg-link-2, .bg-link-3{
    text-decoration: none;
}
.box-title{
    font-weight: bold;
    font-size: 1.2rem;
}
.box-bg-sub-title{
    font-weight: 500px;
    font-size: 1rem;
}
.bg-link-1{
    color: rgba(100, 200, 255, 1);
}
.bg-link-2{
    color: rgba(240, 170, 0, 1);
}
.bg-link-3{
    color: rgba(135, 0, 255, 1);
}
/* icon styles */
.icon{
    font-size: 50px;
    text-align: center;
    
}
/* story section styles */
.story{
    text-align: center;
    width: 1100px;
    margin: 0 auto;
}
    .card-box{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }
    .card-box-2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

/* responsive styles */
@media screen and (max-width:576px) {
    .nav-menu{
        position: relative;
        right: -35px;
        top: 15px;
        left: 200px;
    }
    .nav-title{
        display: none;
    }
    .link-1{
        position: relative;
        left: 200px;
    }
    .navbar{
        border-bottom: 1px solid yellow;
        padding-bottom: 10px;
    }
    .banner{
        flex-direction: column-reverse;
        justify-content: start;
    }
    .img-2{
        margin-right: 650px;
        width: 36%;
        margin-bottom: 20px;
    }
    .banner-title{
        font-size: 2rem;
        text-align: center;
        margin-right: 700px;
        margin-bottom: 18px;

    }
    .banner-sub-title{
        margin-right: 700px;
        text-align: center;
        margin-bottom: 18px;
    }
    .btn-2{
        margin-left: 113px;
    }
    .bg{
        margin-top: 300px;
        margin-left: 20px;
        margin-bottom: -30px;
    }
    .section-2{
        flex-wrap: wrap;
        width: 90%;
    }
    .icon{
        display: none;
    }
}